@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family:'RocknRoll One', sans-serif;
    color: #333 ;
    line-height: 1.6 ;
}
ul{
    list-style: none;
}   
a{text-decoration: none;
    color: #333 ;
}
h1,h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px;
}
p{
    width: 600px;
}